/* style.css */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    width: 1000px;
    margin: 0 auto;
    background: #dadada;
}

form {
    background: #ffffff;
    padding: 20px;
}

header {
    background: #bababa;
    padding: 10px;
}

header h1 {
    margin-left: 10px;
}

input[type="text"] {
    font-size: 1.25em;
}

textarea {
    font-size: 1.25em;
}